body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.padLeft {
  padding-left: 2em;
}

.main {
  margin: 0 10% 0 10%;
}

td {
  padding: 0 5px 0 5px;
  text-align: center;
}

.smallContainer {
  padding: 5px;
}

label {
  padding-right: 5px;
}

input {
  width: 30px;
}

button {
  margin: 5px;
}

.normalText {
  font-weight: normal;
}